# Web3Forms Client Access Key (Public Key for Web3Forms Form Submission)
# Obtain a free access key instantly from https://web3forms.com/ by entering mihirbhatt1394@gmail.com
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=your_web3forms_access_key_here
